---
import Layout from "@layouts/Layout.astro";
import Form from "@/components/portfolio/Form.astro";
import { getI18n } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title={i18n.CONTACT.TITLE}>
    <h1>
        <span class="blue-text">/&nbsp</span>{i18n.CONTACT.TITLE}
    </h1>

    <section>
        <article>
            <div class="contact-info">
                <p>{i18n.CONTACT.DESCRIPTION}</p>
            </div>
            <div class="contact-form">
                <div class="message-here">
                    <h3>{i18n.CONTACT.MESSAGE_ME}</h3>
                    <ul>
                        <li>
                            <i class="ri-whatsapp-line icon-medium"></i> +51-921-853-713
                        </li>
                        <li>
                            <i class="ri-mail-line icon-medium"></i> ivandev2oo6@gmail.com
                        </li>
                    </ul>
                </div>

                <Form />
            </div>
        </article>
    </section>
</Layout>

<style>
    h1 {
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 4rem;
        max-width: 600px;
    }

    section {
        width: 100%;
    }

    .contact-info {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    .message-here {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .contact-form {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (max-width: 868px) {
        h1 {
            margin-bottom: 1rem;
        }

        p {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
</style>
